.book-card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 15rem;
  border: 1px solid var(--subtle-gray);
  padding: 0.2rem;
}

.book-card:hover {
  transform: scale(1.03);
}

.book-card {
  transition: ease-in-out 0.3s;
}
